<launch>

<rosparam file="$(find rover_urdf_test3_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="rover_urdf_test3" args="Revolute 1_position_controller Revolute 2_position_controller Revolute 3_position_controller Revolute 6_position_controller Revolute 8_position_controller Revolute 10_position_controller Revolute 11_position_controller Revolute 14_position_controller Revolute 15_position_controller Revolute 17_position_controller Revolute 30_position_controller Revolute 32_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/rover_urdf_test3/joint_states"/>
</node>

</launch>